body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 50px 0;
    padding: 0;
}

input[type="color"] {
    height: 40px;
}

input[type="text"] {
    height: 25px;
}

.avatars a.select2-choice {
    width: 144px !important;
    height: 120px !important;
}

.avatar {
    height: 96px !important;
    width: 96px !important;
}

.grades a.select2-choice {
    width: 75px !important;
}

.player .gradeView {
    font-weight: bold;
    font-size: 40px !important;
}

.bigdrop.select2-container .select2-results {max-height: 120px;}
.bigdrop .select2-results {max-height: 120px;}

.players table.signInSheet {
    width: 100%;
}

.players table th {
    padding: .5em;
    background: goldenrod;
    text-align: center;
    font-weight: bold;
}

.players table td {
    padding: .2em;
    text-align: center;
}

.seatUnlock {
    background-color: lightgreen;
    font-weight: bold;
}

.seatUnlocked {
    background-color: lightblue;
    font-weight: normal;
}

.seatClaim {
    background-color: lightgreen;
    font-weight: bold;
}

.seatClaimLocked {
    background-color: gray;
    font-weight: normal;
}

.players table td.favoriteSubjects {
    text-align: left;
}

.players table.homeDevicesTable td {
    text-align: left;
}

.entry {
    width: 8em;
}

.player {
    background: lightgreen;
    border: 2px inset darkgreen;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .score {
    color: black;
}

.players table td.colors {
    font-weight: bold;
    padding: 1em;
}

.players table td.colors .color {
    padding: .5em;
    margin-top: .5em;    
}

.players table td.colors .colorBlock {
    padding: 1em;
    border: 2px outset darkgray;
}

.players table td.colors .colorLabel {
    padding: .2em;
    font-size: 90%;
    border: 1px solid gray;
    color: black;
    background-color: Yellow;
}

#editor {
    width: 100%;
    height: 150px;
    text-align: left;
    font-size: 125%;
}